.expense-input-value, .expense-input-type, .expense-input-submit {
  display: inline-block;
  width: 33%;
  height: 32px;
  margin: 20px 0;
}

.expense-input-value input {
  height: 32px;
  width: 80%;
}